<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">name</h2>
    <div class="media">
      <div class="media-left">
        <img [src]="" alt="" class="img-thumbnail">
      </div>
      <div class="media-body">
        <div class="pull-right">
          <a href="#" class="btn btn-primary">Edit</a>
          <a href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p><strong>Email:</strong> email</p>
    <p><strong>Phone:</strong> phone</p>
  </div>
</div>
